#title{
    background-image: url('../images/background.jpg');
    height: 60%;
    background-attachment: fixed;
    
    background-size: cover;
    text-align: center;
    -webkit-animation: backgroundScroll 10s linear 1;
    -webkit-animation-fill-mode: forwards;
    animation: backgroundScroll 10s linear 1;
    animation-fill-mode: forwards;
    
}

.content{
    width: 100%;
    height: 30rem;
    background-color: #393e46;
    opacity: 0.9;

}

h2{
    padding-top: 3rem;
    color: #5fdde5;
    font-size: 2rem;
    opacity: 2.0;
    font-family: 'Fondamento', cursive;
    
}

.nav-up{
    background-color: #393e46;
    opacity: 0.9;
    padding-top: 2rem;
    
}

.company{
    font-size: 1.8rem;
    font-family: 'Shadows Into Light', cursive;
    
}



.myButton {
    margin-top: 8rem;
	box-shadow: 3px 2px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed;
    font-family: 'Caveat', cursive;
    font-weight: bold;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color:#bab1ba;
    text-decoration-line: none;
}
.myButton:active {
	position:relative;
	top:1px;
}


@-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -180px 0px;}
}

.second-section{
    background-color:#222831 ;
    height: 100%;
    text-align: center;
    padding-top:auto;
    padding-bottom: auto;
}

.Paragraph{
    width: 50%;
    margin-left:auto;
    margin-right: auto;
    
    
    opacity:0.8;
    border-radius: 10px;

}
.para{
    width: 100%;
    

    color: white;
}

h3{
    color: white;
    font-family: 'Courgette', cursive;
}
.points{
    margin-top: 40px;
    text-align: center;
}
.point-layout{

    background-color: #374955;
    height:fit-content;
    width: 80%;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}

.points-description{
     
    padding-left: auto; 
    padding-right: auto; 
    font-size: 1.4rem; 
    color: white;
    font-family: 'Shadows Into Light', cursive;
}
.harv{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    height: 15%;
    width: 20%;
}

.cara-images{
    height: 20%;
    width: 25%;
}

.company-box{
    border: black;
    background-color: #204051;
    margin-top: 30px;
    
    width: 100%;
    text-align: center;
    opacity: 0.6;

}

.company-box:hover{
    box-shadow: 5px 10px black;
    width: 103%;
    height: 103%;
    background-color: teal;
}

.companies{
    margin-top: 2rem;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height:75%;
    
}

.personalities{
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    width: 100%;
    opacity: 0.8;
}

.personalities2{
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 50%;
}

.container {
    text-align: center;
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding:16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem; 
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container span {
    font-size: 20px;
    margin-right: 15px;
  }
  
  @media (max-width: 500px) {
    .container {
        text-align: center;
    }
    .container img {
        margin: auto;
        float: none;
        display: block;
    }
  }

  .last-box{
      background-color: teal;
      width: 70%;
      margin-top: 4rem;
      margin-left: auto ;
      margin-right: auto;
      margin-bottom: 3rem;
      color: white;
      font-size: 1.8rem;
      font-family: 'Merriweather', serif;
  }
